######################################################
###       dockerfile environment config file       ###
######################################################

#### PORT
PORT=12345

#### transport protocol 
#   1. TCP
#   2. TCP_HTTP
#   3. WebSocket
#   4. WebSocket + TLS
#   5. mKCP
#   6. mKCP_utp
#   7. mKCP_srtp
#   8. mKCP_wechat-video
#   9. TCP_dynamicPort
#  10. TCP_HTTP_dynamicPort
#  11. WebSocket_dynamicPort
#  12. mKCP_dynamicPort
#  13. mKCP_utp_dynamicPort
#  14. mKCP_srtp_dynamicPort
#  15. mKCP_wechat-video_dynamicPort
#  16. HTTP/2
#  17. Socks5
######
PROTOCOL=1

### enable ad block Y/N
ADBLOCK=N